.c1
{
  background-color:red;
   text-align:center;
   color:white;
}
.c2
{
    text-align:center;
    color:green;
    font-size:20px;
}
.c3
{
    display:flex;
    font-size:18px;
}
.c4
{
    text-align:center;
    color:blue;
    font-size:20px;
}
.c5
{
    display:flex;
}
.c6
{
    background-color:red;
    font-size:18px;
    text-align:center;
    color:blue;
}